<h1>Professors</h1>

<% @professors.each do |professor| %>
<section id="<%= professor.id %>-section">
  <h3>Name: <%= professor.name %></h3><br>
  <h3>Age: <%= professor.age %></h3><br>
  <h3>Specialty: <%= professor.specialty %></h3><br>
  <h3>Average Age: <%= professor.students_average_age %><h3>
</section><br>
<% end %>
